body {
  min-height: 100vh;
  margin: 0;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("./images/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
  padding: 5rem 1.8rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5.4em;
}

.text h1,
.text p {
  text-align: center;
}

.text h1 {
  line-height: 1.4em;
  font-size: 1.8em;
  margin-bottom: 0;
}

.text p {
  font-size: 1.1em;
  line-height: 1.7em;
  padding-top: 0.5em;
}

@media (min-width: 56em) {
  .container {
    flex-direction: row;
    padding-right: 6rem;
  }

  .text {
    width: 50%;
    margin: 0;
    padding: 5rem 8rem;
  }

  .text h1 {
    font-size: 2.6em;
    line-height: 1em;
    text-align: start;
  }

  .text p {
    margin-top: 1.5em;
    text-align: start;
    line-height: 1.4em;
    font-size: 0.9em;
  }

  .form-content {
    margin-left: 1rem;
  }
}
